/* Countdown.css */
.countdown-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom right, #dde7f9ec, #f5fbfc);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Comic Sans MS', cursive;
  padding: 1rem;
}

.countdown-container h1 {
  font-size: 2rem;
  color: #867289;
  margin-bottom: 4rem;
    font-family: "Arima", system-ui;

}

.timer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.time-box {
  background: white;
  padding: 1rem 1.5rem;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  min-width: 75px;
}

.number {
  font-size: 2rem;
  font-weight: bold;
  color: #dc1759d1;
}

.label {
  display: block;
  font-size: 0.9rem;
  color: #333;
}

.subtext {
  margin-top: 2rem;
  font-size: 1.1rem;
  color: #666;
  max-width: 90%;
}

@media (max-width: 450px) {
  .countdown-container h1 {
    font-size: 1.6rem;
  }

  .time-box {
    padding: 0.8rem;
    min-width: 60px;
  }

  .number {
    font-size: 1.5rem;
  }
}

.skip-button {
  margin-top: 2rem;
  padding: 0.6rem 1.2rem;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(255, 64, 129, 0.4);
  transition: background-color 0.3s ease;
}

.skip-button:hover {
  background-color: #e03573;
}
